* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(180deg, #2E335A 0%, #1C1833 100%) no-repeat;
    background-attachment: fixed;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1720px;
    margin: 53px 116px;
    padding: 0 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center; 
}

.menu a {
    font-family: "Outfit", sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}
.menu a.active {
    color:#E90909;
    
}

.spiderman-section {
    display: flex;
    margin: 104px;
}

.studio-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 43px;
    align-items: center; 
}

.text-box  {
   margin-top: 114px;
   max-width: 885px;
}

.text-box h1 {
    text-align: center;
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    color: #ffffff;
   -webkit-text-stroke: 3px #E90909; 
    font-size: 100px;
    line-height: 78px;
    margin-bottom: 27px;
}

.text-box h2 {
    text-align: center;
    font-family: "Swanky and Moo Moo", sans-serif;
    font-weight: 400;
    font-size: 75px;
    line-height: 29px;
    color: #000000;
    -webkit-text-stroke: 2px #F2F2F2;
    margin-top: 10px;
    margin-bottom: 24px;
}

.text-box  p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 33px;
}


.buttons {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 38px;
}

.btn.watch {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-decoration: none;
    color: #FFFFFF;
}

.btn.info {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 40px;
    margin-left: 73px;
    padding: 14px 36px;
    border: 3px solid #FFFFFF;
    border-radius: 46px;
}


.img-spider-man {
    max-width: 1049px; 
    height: auto;
}

